@import '../../../styles/design-system.scss';
@import '../../../styles/mixins.scss';

.container {
  width: 100%;
  padding-right: ($gutter / 2);
  padding-left: ($gutter / 2);
  margin-right: auto;
  margin-left: auto;

  @each $breakpoint, $width in $container-widths {
    @include up($breakpoint, $grid-breakpoints) {
      max-width: $width;
    }
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -($gutter / 2);
  margin-left: -($gutter / 2);

  &__col {
    flex: 0 0 auto;
    width: 100%;
    padding-right: ($gutter / 2);
    padding-left: ($gutter / 2);
  }
  
  @for $range from 1 through $cols {
    &__col--#{$range} {
      width: 100% * $range / $cols;
    }
  }
  
  @each $breakpoint in map-keys($grid-breakpoints) {
    @for $range from 1 through $cols {
      &__col--#{$breakpoint}--#{$range} {
        @include up($breakpoint, $grid-breakpoints) {
          width: 100% * $range / $cols;
        }
      }
    }
  }
}