@import '../../../styles/design-system';
@import '../../../styles/mixins';

.form-group {
  margin-bottom: 15px;
  @include up('md') {
    margin-bottom: 25px;
  }
}

.label {
  font: 700 15px / 20px 'Lato', Arial, sans-serif;
  letter-spacing: 0px;
}