@import '../../../styles/design-system.scss';

.input {
  height: 42px;
  color: $input-font-color;
  font: $font-400;
  padding: 10px;
  border-radius: 1px;
  background: $input-bg;
  outline: none;
  border: 1px solid $input-border;
  width: 100%;

  &--invalid {
    border-color: $error;
  }

  &:focus {
    background: $input-bg-focus;
    border: 2px solid $input-border-focus;
  }

  &::placeholder {
    color: $placeholder-color;
  }
}

.radio {
  display: inline-flex;
  position: relative;
  cursor: pointer;
  font-size: 16px;
  user-select: none;

  &__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  &__checkmark {
    margin-right: 12px;
    height: 18px;
    width: 18px;
    background: $input-bg;
    border-radius: 50%;
    position: relative;
    border: 1px solid map-get($gray, 600);
  }
  
  &--invalid &__checkmark {
    border-color: $error;
  }

  &__checkmark:after {
    content: "";
    position: absolute;
    display: none;
    width: 8px;
    height: 8px;
    background: #515b63;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:hover &__checkmark:after,
  &__input:checked ~ &__checkmark:after {
    display: block;
  }
}